{% extends 'base.html' %}
{% load static %}

{% block title %}
Contacto
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body pb-0 pt-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      Contacto</a>
  </div>
</nav>


<div class="container-fluid text-light bg-dark ">
  <div class="row">
    <div class="col-md-9 d-flex align-items-center  p-3 ">
      <div>
        <!-- <h5>Andrés Honorato Olivares</h5>
        <h5>Avenida Siempre Viva 1345</h5>
        <h5>Providencia, Santiago, Chile</h5>
        <br>
        <br> -->
        <h5>
          <!-- <a href="https://wa.me/56984187288" target="_blank"> -->
          <i class="bi bi-whatsapp" id="nav-item"></i>
          <!-- </a> -->
          <a id="edit-icon" href="https://wa.me/56984187288" target="_blank"> (+56) 9 8418 7288</a>
        </h5>

        <!-- <h5><a href="#"><i class="bi bi-envelope" id="edit-icon"></i></a>
          <a id="edit-icon" href=""> andres@andreshonorato.cl</a>
        </h5> -->

        <h5 class="text-start">
          <!-- <a class="text-muted" href="https://www.instagram.com/andreshonoratoarte/"> -->
          <i class="bi bi-instagram" id="nav-item"></i>
          <!-- </a> -->
          <a id="edit-icon" href="https://www.instagram.com/andreshonoratoarte/">@andreshonoratoarte</a>
        </h5>
      </div>
    </div>

    <div class="col-md-3">
      <img src="{% static 'ejemplos/contacto1.jpg' %}" class="img-fluid w-100" alt="...">
    </div>

  </div>
</div>





{% endblock content %}