{% extends 'base.html' %}

{% block title %}
Contacto
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body pb-0 pt-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      Andrés Honorato | Contacto</a>
  </div>
</nav>


<div class="text-light px-5 bg-body-tertiary" data-bs-theme="dark">
  <div class="col">
    <br>
    <br>
    <h5 class="text-start">Andrés Honorato Olivares</h5>
    <h5 class="text-start">Avenida Siempre Viva 1345</h5>
    <h5 class="text-start">Providencia, Santiago, Chile</h5>
    <br>
    <br>
    <br>
    <br>
    <h5 class="text-start"><a class="text-muted" href="#"><i class="bi bi-whatsapp" id="edit-icon"></i></a> (+56) 9 9033
      4343
    </h5>
    <h5 class="text-start"><a class="text-muted" href="#"><i class="bi bi-envelope" id="edit-icon"></i></a>
      andres@andreshonorato.cl</h5>
    <h5 class="text-start"><a class="text-muted" href="https://www.instagram.com/andreshonoratoarte/"><i
          class="bi bi-instagram" id="edit-icon"></i></a> @andreshonoratoarte</h5>
    <br>
    <br>
  </div>
</div>




{% endblock content %}