{% extends 'base.html' %}
{% load static %}
{% block title %}{{ cuadro.nombre }}{% endblock title %}

{% block content %}

<div id="loader-overlay" class="loader-overlay">
  <div class="loader"></div>
</div>

<nav class="navbar navbar-expand-lg bg-body pb-0 pt-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:obras-view' %}"><i class="bi bi-chevron-compact-left"></i>{{ galeria }}
      {{ cuadro.nombre }}</a>
  </div>
</nav>

<div class="container mt-3 mb-5" id="{{ cuadro.id }}">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {% if cuadro.imagen1 %}
        <div class="col-12 mb-3 position-relative">
          <img src="{{ cuadro.imagen1.url }}" class="d-block w-100 clickable-image rounded-image disable-save"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen2 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen2.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen3 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen3.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen4 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen4.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen5 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen5.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen6 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen6.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen7 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen7.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen8 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen8.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
        {% if cuadro.imagen9 %}
        <div class="col-md-6 mb-3 position-relative">
          <img src="{{ cuadro.imagen9.url }}" class="d-block w-100 clickable-image rounded-image"
            alt="{{ cuadro.nombre }}" style="cursor: zoom-in;">
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100" style="border-radius: 0;" id="{{ cuadro.id }}">
        <div class="card-body">
          <h6 class="card-title mb-2" style="font-size: 24px;">{{ cuadro.nombre }}</h6>
          <a class="card-subtitle text-muted mb-2" href="{% url 'home:galerias-view' %}?galeria={{ cuadro.coleccion }}"
            style="text-decoration: none;">
            <h6 class="card-subtitle text-muted mb-2" style="font-size: 13px;">{{ cuadro.coleccion }}
            </h6>
          </a>
          <p class="card-text"> ${{ cuadro.precio_sin }} CLP</p>
          <p class="card-text">{{ cuadro.descripcion|linebreaksbr }}</p>
          <p class="card-text">Técnica: {{ cuadro.tecnica }}</p>

          <div class="row">
            <div class="col-12">
              <ul class="list-unstyled">
                {% if cuadro.marco_sin %}
                <li>Dimensiones sin marco: {{ cuadro.marco_sin }}</li>
                {% endif %}
                {% if cuadro.marco_con %}
                <li>Dimensiones con marco: {{ cuadro.marco_con }}</li>
                {% endif %}
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <ul class="list-unstyled">
                {% if cuadro.precio_sin %}
                <li>Precio sin marco: ${{ cuadro.precio_sin }} CLP</li>
                {% endif %}
                {% if cuadro.precio_con %}
                <li>Precio con marco: ${{ cuadro.precio_con }} CLP</li>
                {% endif %}
              </ul>
            </div>
          </div>

          <p class="card-text">Fecha: {{ cuadro.fecha|date:"Y" }}</p>

          {% if cuadro.cantidad_inicial %}
          <p class="card-text">Disponibilidad: {{ cuadro.cuadros_disponibles }} de {{ cuadro.cantidad_inicial }}</p>
          {% endif %}

        </div>
        <a href="{% url 'home:contacto-view' %}" class="btn btn-dark" style="border-radius: 0;">Contacto</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal for full-size image -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img id="modalImage" src="" class="d-block w-100" data-bs-dismiss="modal" style="cursor: zoom-out;">
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand">Colección completa: {{ cuadro.coleccion }}</a>
  </div>
</nav>
<br>


<div class="slider-content-new swiper carru slider" id="slider-new">
  <div class="slider-content3">
    <div class="card-wrapper swiper-wrapper">
      <!-- Contenido del slider coleccion -->
      {% for cuadro in cuadro.coleccion.coleccionX.all %}
      <div class="cardSW swiper-slide">
        <div class="image-content-new">
          <span class="overlay"></span>
          <div class="card-image-new">
            <a href="{% url 'home:cuadro-view' cuadro.id %}">
              <img src="{{ cuadro.imagen1.url }}" class="zoom-image" />
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
</div>

<br>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand">Puede que también te gusten</a>
  </div>
</nav>

<div class="slider-containerSW swiper carru slider" id="slider01">
  <div class="slider-content">
    <div class="cardSW-wrapper swiper-wrapper">
      <!-- Contenido del slider 1 -->
      {% for cuadro in lista_cuadros|slice:":12" %}
      <div class="cardSW swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="cardSW-image">
            <a href="{% url 'home:cuadro-view' cuadro.id %}">
              <img src="{{ cuadro.imagen1.url }}" />
            </a>
          </div>
        </div>
        <div class="cardSW-content">
          <h3 class="nameSW text-lg">{{ cuadro.nombre }}</h3>
          <p class="descriptionSW mb-3">{{ cuadro.coleccion }}</p>
          <!-- <p class="descriptionSW mb-1">{{ cuadro.tecnica }}</p> -->
          <!-- {% if cuadro.cuadros_disponibles %}
          <p class="descriptionSW mb-2">
            Disponibilidad: {{ cuadro.cuadros_disponibles }} de {{ cuadro.cantidad_inicial }}
          </p>
          {% else %}
          <p class="descriptionSW mb-2">&nbsp;</p>
          {% endif %} -->
          <a href="{% url 'home:cuadro-view' cuadro.id %}" class="btn btn-dark">Ver</a>
          <!-- <a href="{% url 'home:galerias-view' %}?galeria={{ cuadro.coleccion }}&c_id={{ cuadro.id }}#{{cuadro.id}}"
            class="btn btn-dark">Ver</a> -->
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
</div>




{% endblock content %}

{% block scripts %}
<script>

  // Mostrar loader al cargar la página
  document.addEventListener("DOMContentLoaded", function () {
    var loaderOverlay = document.getElementById('loader-overlay');
    var body = document.body;
    body.style.overflow = 'hidden'; // Desactivar el desplazamiento

    setTimeout(function () {
      loaderOverlay.style.display = 'none';
      body.style.overflow = ''; // Reactivar el desplazamiento
      var sliderContainer = document.getElementById('coleccion-new');
      sliderContainer.style.visibility = 'visible'; // Cambiar la visibilidad del contenedor principal del slider a 'visible'
    }, 2000); // Ocultar después de 4 segundos (4000 milisegundos)
  });



  var swiper = new Swiper(".slider-content3", {
    slidesPerView: 5,
    spaceBetween: 25,
    loop: true,
    centerSlide: true,
    fade: true,
    grabCursor: true,
    navigation: {
      nextEl: "#slider-new .swiper-button-next",
      prevEl: "#slider-new .swiper-button-prev",
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      520: {
        slidesPerView: 2,
      },
      950: {
        slidesPerView: 3,
      },
      1100: {
        slidesPerView: 4,
      },
      1100: {
        slidesPerView: 5,
      },
    },
  });

  // Handle image click to show in modal
  document.querySelectorAll('.clickable-image').forEach(function (img) {
    img.addEventListener('click', function () {
      var src = this.getAttribute('src');
      document.getElementById('modalImage').setAttribute('src', src);
      var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
      imageModal.show();
    });
  });



</script>
{% endblock scripts %}