{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body">
  <div class="container-fluid">
    <a class="navbar-brand" id="brand2" style="opacity: 1">{{cuadro.coleccion}} - {{cuadro.nombre}}</a>
  </div>
</nav>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-3 d-flex align-items-center">
      <img src={{cuadro.imagen1.url}} alt="Imagen 1" class="img-fluid mx-auto"
        style="max-height: 100%; max-width: 100%;">
    </div>
    <div class="col-md-4">
      <h5>Colección: {{cuadro.coleccion}}</h5>
      <h5>Obra: {{cuadro.nombre}}</h5>
      <h5>Técnica: {{cuadro.tecnica}}</h5>
      <h5>Fecha: {{cuadro.fecha}}</h5>
      <p>{{cuadro.descripcion}}</p>
      {% if cuadro.cantidad_inicial is not None %}<h5>cantidad inicial: {{cuadro.cantidad_inicial}}</h5>{% endif %}
      {% if cuadro.descuento is not None %}<h5>Descuento: {{cuadro.descuento}}</h5>{% endif %}
    </div>
  </div>
</div>

<br>
{% endblock content %}



{% block scripts %}
{% endblock scripts %}