<!-- cuadro_detail.html -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Detalle del Cuadro</title>
    <!-- Agregar enlaces a CSS o scripts necesarios si es necesario -->
</head>

<body>
    <h1>Detalle del Cuadro</h1>
    <div>
        <h2>{{ cuadro.nombre }}</h2>
        <p>Autor: {{ cuadro.autor }}</p>
        <p>Descripción: {{ cuadro.descripcion }}</p>
        <p>Precio: ${{ cuadro.precio_punto_sin }}</p>
        {% if cuadro.precio_sin %}
        <p>Precio sin marco: ${{ cuadro.precio_punto_sin }} CLP</p>
        {% endif %}
        <!-- Agrega más detalles según tu modelo de datos -->
    </div>

    <div>
        <h2>Procesar Pago</h2>
        <form action="{{ procesar_pago_url }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="cuadro_id" value="{{ cuadro.id }}">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1" value="1">
            <button type="submit">Procesar Pago</button>
        </form>
    </div>
</body>

</html>