{% extends 'base.html' %}

{% load static %}

{% block title %}
Obras
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body">
  <div class="container-fluid">
    <a class="navbar-brand" id="brand2" style="opacity: 1">OBRAS | Andrés Honorato</a>
  </div>
</nav>


<br>

{{galeria}}
<br>

{% for cuadro in cuadros_filtrados %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mb-3">
      <div id="carousel-{{ cuadro.id }}" class="carousel slide">
        <div class="carousel-inner">
          {% if cuadro.imagen1 %}
          <div class="carousel-item active">
            <img src="{{ cuadro.imagen1.url }}" class="d-block w-100" alt="{{ cuadro.nombre }}">
          </div>
          {% endif %}
          {% if cuadro.imagen2 %}
          <div class="carousel-item">
            <img src="{{ cuadro.imagen2.url }}" class="d-block w-100" alt="{{ cuadro.nombre }}">
          </div>
          {% endif %}
          {% if cuadro.imagen3 %}
          <div class="carousel-item">
            <img src="{{ cuadro.imagen3.url }}" class="d-block w-100" alt="{{ cuadro.nombre }}">
          </div>
          {% endif %}
          {% if cuadro.imagen4 %}
          <div class="carousel-item">
            <img src="{{ cuadro.imagen4.url }}" class="d-block w-100" alt="{{ cuadro.nombre }}">
          </div>
          {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carousel-{{ cuadro.id }}" role="button" data-bs-slide="prev"
          style="left: -9%;">
          <span class="carousel-control" aria-hidden="true"><i class="bi bi-chevron-compact-left"
              style="color: black; font-size: 24px;"></i></span>
          <span class="visually-hidden">Prev</span>
        </a>
        <a class="carousel-control-next" href="#carousel-{{ cuadro.id }}" role="button" data-bs-slide="next"
          style="right: -9%;">
          <span class="carousel-control" aria-hidden="true"><i class="bi bi-chevron-compact-right"
              style="color: black; font-size: 24px;"></i></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ cuadro.nombre }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ cuadro.coleccion }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{ cuadro.tecnica }}</h6>
          <p class="card-text">{{ cuadro.descripcion }}</p>

          {% if cuadro.dimension1 %}
          <p class="card-text">
            {% if cuadro.dimension2 or cuadro.dimension3 %}
            Formatos:
            {% else %}
            Formato:
            {% endif %}
          </p>
          <ul class="list-unstyled">
            {% if cuadro.dimension1 %}
            <li>{{ cuadro.dimension1 }}</li>
            {% endif %}
            {% if cuadro.dimension2 %}
            <li>{{ cuadro.dimension2 }}</li>
            {% endif %}
            {% if cuadro.dimension3 %}
            <li>{{ cuadro.dimension3 }}</li>
            {% endif %}
          </ul>
          {% endif %}

          {% if cuadro.cantidad_inicial %}
          <p class="card-text">
            Disponibilidad: {{ cuadro.cantidad_vendida }} de {{ cuadro.cantidad_inicial }}
          </p>
          {% endif %}

          <a href="javascript:history.back()" class="btn btn-light">Volver</a>
          <a href="{% url 'home:contacto-view' %}" class="btn btn-dark">Contacto</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
















{% endblock content %}



{% block scripts %}




{% endblock scripts %}