{% extends 'base.html' %}

{% load static %}

{% block title %}
Inicio
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body pb-0 pt-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#top"></i>
      Andrés Honorato</a>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg bg-body pb-0 pt-3">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li>
        <a class="navbar-brand" href="{% url 'home:home-view' %}"><i class="bi bi-chevron-compact-left"></i>
          Andrés Honorato</a>
      </li>
      <li>
        <a class="navbar-brand" href="{% url 'home:obras-view' %}">|&nbsp;&nbsp;Obras </a>
      </li>
      <li>
        <a class="navbar-brand" href="#top">|&nbsp;&nbsp;{{galeria}}</a>
      </li>
    </ol>
  </div>
</nav>
<br> -->






<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="{% static 'ejemplos/e3.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'ejemplos/e2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'ejemplos/e9.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>





<div class="slider-containerSW swiper carru slider" id="slider01">
  <div class="slider-content">
    <div class="cardSW-wrapper swiper-wrapper">
      <!-- Contenido del slider 1 -->
      {% for cuadro in lista_cuadros|slice:":12" %}
      <div class="cardSW swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="cardSW-image">
            <a href="{% url 'home:galerias-view' %}?galeria={{ cuadro.coleccion }}&c_id={{ cuadro.id }}#{{cuadro.id}}">
              <img src="{{ cuadro.imagen1.url }}" alt="" {% if cuadro.imagen2 %} data-imagen2="{{ cuadro.imagen2.url }}"
                class="hover-image" {% endif %} />
            </a>
          </div>
        </div>
        <div class="cardSW-content">
          <h3 class="nameSW text-lg">{{ cuadro.nombre }}</h3>
          <p class="descriptionSW mb-1">{{ cuadro.coleccion }}</p>
          <p class="descriptionSW mb-1">{{ cuadro.tecnica }}</p>
          {% if cuadro.cuadros_disponibles %}
          <p class="descriptionSW mb-2">
            Disponibilidad: {{ cuadro.cuadros_disponibles }} de {{ cuadro.cantidad_inicial }}
          </p>
          {% else %}
          <p class="descriptionSW mb-2">&nbsp;</p>
          {% endif %}
          <a href="{% url 'home:galerias-view' %}?galeria={{ cuadro.coleccion }}&c_id={{ cuadro.id }}#{{cuadro.id}}"
            class="btn btn-dark">Ver</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
</div>





<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>




<!-- Segunda instancia del slider -->
<div class="slider-containerSW swiper carru slider" id="slider02">
  <div class="slider-content2">
    <div class="cardSW-wrapper swiper-wrapper">
      <!-- Contenido del slider 2 -->
      {% for cuadro in lista_cuadros|slice:":9" %}

      {% if cuadro.coleccion.nombre == 'More Suns and More Sunsets' %}

      <div class="cardSW swiper-slide">
        <div class="image-content">
          <span class="overlay"></span>
          <div class="cardSW-image">
            <a href="{% url 'home:galerias-view' %}?galeria={{ cuadro.coleccion }}&c_id={{ cuadro.id }}#{{cuadro.id}}">
              <img src="{{ cuadro.imagen1.url }}" alt="" {% if cuadro.imagen2 %} data-imagen2="{{ cuadro.imagen2.url }}"
                class="hover-image" {% endif %} />
            </a>
          </div>
        </div>
        <div class="cardSW-content">

          <h3 class="nameSW text-lg">{{cuadro.nombre}}</h3>
          <p class="descriptionSW mb-1">
            {{cuadro.coleccion}}
          </p>
          <p class="descriptionSW mb-1">
            {{cuadro.tecnica}}
          </p>
          {% if cuadro.cuadros_disponibles %}
          <p class="descriptionSW mb-2">
            Disponibilidad: {{cuadro.cuadros_disponibles}} de {{cuadro.cantidad_inicial}}
          </p>
          {% else %}
          <p class="descriptionSW mb-2">
            &nbsp;
          </p>
          {% endif %}
          <!-- <a href="{% url 'home:cuadro-view' cuadro.id %}" class="btn btn-dark">Ver</a> -->
          <a href="{% url 'home:galerias-view' %}?galeria={{ cuadro.coleccion }}&c_id={{ cuadro.id }}#{{cuadro.id}}"
            class="btn btn-dark">Ver</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
</div>







{% endblock content %}



{% block scripts %}

<script>
  // Función para cambiar la imagen al pasar el mouse sobre ella
  function mostrarImagen2(event) {
    var imagen1 = event.currentTarget;
    var imagen2Url = imagen1.getAttribute("data-imagen2");
    var imagen1Url = imagen1.getAttribute("data-imagen1");

    // Guarda la fuente original de la imagen en data-imagen1 si no está guardada
    if (!imagen1Url) {
      imagen1Url = imagen1.src;
      imagen1.setAttribute("data-imagen1", imagen1Url);
    }

    // Cambia la fuente de la imagen a imagen2Url
    imagen1.src = imagen2Url;
  }

  // Función para volver a la imagen original al quitar el mouse
  function mostrarImagen1(event) {
    var imagen1 = event.currentTarget;
    var imagen1Url = imagen1.getAttribute("data-imagen1");

    // Vuelve a la fuente de la imagen original
    if (imagen1Url) {
      imagen1.src = imagen1Url;
    }
  }

  // Agrega los eventos de mouseover y mouseout a las imágenes
  var imagenes = document.querySelectorAll(".hover-image");
  imagenes.forEach(function (imagen) {
    imagen.addEventListener("mouseover", mostrarImagen2);
    imagen.addEventListener("mouseout", mostrarImagen1);
  });
</script>


{% endblock scripts %}