{% extends 'base.html' %}
{% load static %}

{% block title %}
Obras
{% endblock title %}

{% block content %}

<div id="loader-overlay" class="loader-overlay">
  <div class="loader">
    <img src="{% static 'ejemplos/loader_ah.png' %}" alt="Loader Image">
    <div class="progress">
      <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto spacer-new"></a>
  </div>
</nav>

<img src="{% static 'ejemplos/estudio88.png' %}" class="banner1-new">

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto spacer-new"></a>
  </div>
</nav>

<div class="posicionar-new px-5" id="coleccion-new" style="visibility:hidden;">
  {% for coleccion in colecciones %}
  <br>
  <div class="row">
    <div class="col-md-3 d-flex flex-column justify-content-center">
      <div>
        <span>Colección</span>
        <h4>{{ coleccion.nombre }}</h4>
        <p style="font-size: 14px !important;">{{ coleccion.descripcion|linebreaksbr }}</p>
        <a href="{% url 'home:galerias-view' %}?galeria={{ coleccion.nombre }}" class="btn btn-dark mb-4">Ver
          colección</a>
      </div>
    </div>

    <div class="col-md-9 d-flex align-items-center">
      <div class="position-relative slider-container-new">
        <div class="slider-content-new swiper carru slider" id="slider-new">
          <div class="card-wrapper swiper-wrapper">
            {% for cuadro in coleccion.coleccionX.all|dictsort:"orden" %}
            <div class="cardSW swiper-slide">
              <div class="image-content-new">
                <span class="overlay"></span>
                <div class="card-image-new">
                  <a href="{% url 'home:cuadro-view' cuadro.id %}">
                    <img src="{{ cuadro.imagen1.url }}" class="zoom-image" />
                    {% if cuadro.vendido %}
                    <div class="sold-overlay"></div> <!-- Superpone la imagen de vendido si el cuadro está vendido -->
                    {% endif %}
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>
          <div class="swiper-button-next swiper-navBtn-new"></div>
          <div class="swiper-button-prev swiper-navBtn-new"></div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <nav class="navbar navbar-expand-lg bg-body py-0">
    <div class="container-fluid position-relative p-0">
      <div class="spacer-new"></div>
    </div>
  </nav>
  {% endfor %}
</div>
<br>


{% endblock content %}

{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var loaderOverlay = document.getElementById('loader-overlay');
    var sliderContainer = document.getElementById('coleccion-new');
    var progressBar = document.getElementById('progress-bar');
    var progress = 0;
    var duration = 1500; // 1.5 segundos
    var interval = 50; // Intervalo de actualización en milisegundos

    disableScroll();

    var progressInterval = setInterval(function () {
      progress += interval / duration * 100;
      progressBar.style.width = progress + '%';
      progressBar.setAttribute('aria-valuenow', progress);

      if (progress >= 100) {
        clearInterval(progressInterval);
        loaderOverlay.style.display = 'none';
        sliderContainer.style.visibility = 'visible';
        enableScroll();
      }
    }, interval);
  });

  function disableScroll() {
    document.body.style.overflow = 'hidden';
    document.documentElement.style.overflow = 'hidden';
  }

  function enableScroll() {
    document.body.style.overflow = '';
    document.documentElement.style.overflow = '';
  }

  var swiper = new Swiper(".slider-content-new", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: true,
    fade: true,
    grabCursor: true,
    navigation: {
      nextEl: "#slider-new .swiper-button-next",
      prevEl: "#slider-new .swiper-button-prev",
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      520: {
        slidesPerView: 2,
      },
      950: {
        slidesPerView: 3,
      }
    },
  });
</script>
{% endblock scripts %}