{% extends 'base.html' %}
{% load static %}

{% block title %}
Obras
{% endblock title %}

{% block content %}

<div id="loader-overlay" class="loader-overlay">
  <div class="loader"></div>
</div>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto spacer-new"></a>
  </div>
</nav>

<img src="{% static 'ejemplos/banner1.png' %}" class="banner1-new">

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto spacer-new"></a>
  </div>
</nav>

<div class="container posicionar-new" id="coleccion-new" style="visibility:hidden;">
  <!-- Oculta el contenedor principal del slider -->
  {% for coleccion in colecciones %}
  <br>
  <div class="row">
    <div class="col-md-3 d-flex flex-column justify-content-center">
      <div>
        <span>Colección</span>
        <h4>{{ coleccion.nombre }}</h4>
        <p style="font-size: 14px !important;">{{ coleccion.descripcion|linebreaksbr }}</p>
        <a href="{% url 'home:galerias-view' %}?galeria={{ coleccion.nombre }}" class="btn btn-dark mb-4">Ver
          colección</a>
      </div>
    </div>

    <div class="col-md-9 d-flex align-items-center">
      <div class="position-relative slider-container-new">
        <div class="slider-content-new swiper carru slider" id="slider-new">
          <div class="card-wrapper swiper-wrapper">
            <!-- Contenido del slider obras -->
            {% for cuadro in coleccion.coleccionX.all %}
            <div class="cardSW swiper-slide">
              <div class="image-content-new">
                <span class="overlay"></span>
                <div class="card-image-new">
                  <a href="{% url 'home:cuadro-view' cuadro.id %}">
                    <img src="{{ cuadro.imagen1.url }}" class="zoom-image" />
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>
          <div class="swiper-button-next swiper-navBtn-new"></div>
          <div class="swiper-button-prev swiper-navBtn-new"></div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <nav class="navbar navbar-expand-lg bg-body py-0">
    <div class="container-fluid position-relative p-0">
      <div class="spacer-new"></div>
    </div>
  </nav>
  {% endfor %}
</div>

<img src="{% static 'ejemplos/banner2.png' %}" class="banner1-new">

{% endblock content %}

{% block scripts %}
<script>
  // Mostrar loader al cargar la página
  document.addEventListener("DOMContentLoaded", function () {
    var loaderOverlay = document.getElementById('loader-overlay');
    var sliderContainer = document.getElementById('coleccion-new');
    disableScroll(); // Deshabilitar el scroll de la página
    setTimeout(function () {
      loaderOverlay.style.display = 'none';
      sliderContainer.style.visibility = 'visible'; // Cambiar la visibilidad del contenedor principal del slider a 'visible'
      enableScroll(); // Volver a habilitar el scroll de la página
    }, 3000); // Ocultar después de 3 segundos (3000 milisegundos)
  });

  var swiper = new Swiper(".slider-content-new", {
    slidesPerView: 3,
    spaceBetween: 25,
    loop: true,
    centerSlide: true,
    fade: true,
    grabCursor: true,
    navigation: {
      nextEl: "#slider-new .swiper-button-next",
      prevEl: "#slider-new .swiper-button-prev",
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      520: {
        slidesPerView: 2,
      },
      950: {
        slidesPerView: 3,
      },
      // 1100: {
      //   slidesPerView: 4,
      // },
      // 1100: {
      //   slidesPerView: 5,
      // },
    },
  });

  // Función para deshabilitar el scroll de la página
  function disableScroll() {
    document.body.style.overflow = 'hidden';
    document.documentElement.style.overflow = 'hidden';
  }

  // Función para volver a habilitar el scroll de la página
  function enableScroll() {
    document.body.style.overflow = '';
    document.documentElement.style.overflow = '';
  }
</script>
{% endblock scripts %}