{% extends 'base.html' %}
{% load static %}

{% block title %}
Sobre-mí
{% endblock title %}



{% block content %}
<nav class="navbar navbar-expand-lg bg-body pb-0 pt-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      Andrés Honorato | Sobre mí</a>
  </div>
</nav>



<div class="text-light bg-dark px-2" data-bs-theme="dark">
  <div class="row">
    <!-- Primera columna -->
    <div class="col-md-6">
      <!-- Primera fila -->
      <div class="row">
        <div class="col-md-12 ps-3 mt-3">
          <h3>Andrés</h3>
          <h3>Honorato</h3>
        </div>
      </div>
      <br>
      <!-- Segunda fila -->
      <div class="row">
        <div class="col-md-12 px-0">
          <!-- Carrusel -->
          <div id="sobremiCarrusel" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicadores del carrusel -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#sobremiCarrusel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#sobremiCarrusel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#sobremiCarrusel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <!-- Imágenes del carrusel -->
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
                <img src="{% static 'ejemplos/sobremi1.jpg' %}" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <img src="{% static 'ejemplos/sobremi2.jpg' %}" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <img src="{% static 'ejemplos/contacto1.jpg' %}" class="d-block w-100" alt="">
              </div>
            </div>
            <!-- Controles del carrusel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#sobremiCarrusel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#sobremiCarrusel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Segunda columna -->
    <div class="col-md-6 mt-3 px-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi obcaecati nemo voluptas possimus vitae
        harum deserunt at maxime aperiam! Aperiam ipsam ducimus reiciendis sunt libero laboriosam consequuntur? Quod,
        ipsa.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis distinctio praesentium molestias
        incidunt veritatis facilis quisquam expedita eius ut doloribus nihil dolor, fuga vitae tenetur consequatur,
        commodi in tempore.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia nisi sint qui molestiae porro doloribus
        laboriosam voluptatibus ullam praesentium, aperiam et neque eligendi. Eaque molestias aliquam quisquam
        reiciendis iusto impedit.
      </p>
    </div>
  </div>
</div>






{% endblock content %}