{% extends 'base.html' %}
{% load static %}

{% block title %}
Sobre-mí
{% endblock title %}



{% block content %}
<nav class="navbar navbar-expand-lg bg-body pb-1 pt-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home:home-view' %}"><i class="bi bi-chevron-compact-left"></i>{{galeria}}
      Andrés Honorato | Sobre mí</a>
  </div>
</nav>


<div class="row text-light px-5 mx-0 bg-body-tertiary py-4" data-bs-theme="dark">
  <div class="col-md-6">
    <h1>Andrés</h1>
    <h1>Honorato</h1>
  </div>
  <div class="col-md-6">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita exercitationem natus praesentium sequi
      molestias eligendi, magni voluptatem reprehenderit officia quis neque similique adipisci cupiditate? Consequuntur
      magnam quaerat et reiciendis accusantium.
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit saepe dignissimos officia ipsam ratione, laudantium
      vel molestiae doloribus repudiandae repellat provident omnis quaerat ea assumenda ullam rerum debitis. Ut, sed.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque officiis distinctio praesentium molestias
      incidunt veritatis facilis quisquam expedita eius ut doloribus nihil dolor, fuga vitae tenetur consequatur,
      commodi in tempore.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque officiis distinctio praesentium molestias
      incidunt veritatis facilis quisquam expedita eius ut doloribus nihil dolor, fuga vitae tenetur consequatur,
      commodi in tempore.
    </p>
  </div>
</div>


{% endblock content %}