<!-- Segunda instancia del slider -->
<div class="slider-containerSW swiper carru slider" id="slider02">
    <div class="slider-content2">
        <div class="cardSW-wrapper swiper-wrapper">
            <!-- Contenido del slider 2 -->
            {% for cuadro in lista_cuadros|slice:":9" %}
            <div class="cardSW swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <!-- Usar un <a> en lugar de un <div> para envolver la imagen -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{cuadro.id}}">
                        <div class="cardSW-image">
                            <img src="{{cuadro.imagen1.url}}" alt="" />
                        </div>
                    </a>
                </div>
                <div class="cardSW-content">
                    <h3 class="nameSW text-lg">{{cuadro.nombre}}</h3>
                    <p class="descriptionSW mb-1">
                        {{cuadro.coleccion}}
                    </p>
                    <p class="descriptionSW mb-1">
                        {{cuadro.tecnica}}
                    </p>
                    {% if cuadro.cuadros_disponibles %}
                    <p class="descriptionSW mb-2">
                        Disponibilidad: {{cuadro.cuadros_disponibles}} de {{cuadro.cantidad_inicial}}
                    </p>
                    {% else %}
                    <p class="descriptionSW mb-2">
                        &nbsp;
                    </p>
                    {% endif %}
                    <a href="{% url 'home:cuadro-view' cuadro.id %}" class="btn btn-dark">Ver</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
</div>

<!-- Modales para cada cuadro -->
{% for cuadro in lista_cuadros|slice:":9" %}
<div class="modal fade" id="modal{{cuadro.id}}" tabindex="-1" aria-labelledby="modalLabel{{cuadro.id}}"
    aria-hidden="true">
    <div class="modal-dialog .modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{cuadro.id}}">{{cuadro.nombre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- Mostrar la imagen en el modal -->
                <img src="{{cuadro.imagen1.url}}" alt="{{cuadro.nombre}}" class="img-fluid">
                <!-- Puedes ajustar las clases y el estilo según tus necesidades -->
                <p>{{cuadro.descripcion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}