{% extends 'base.html' %}

{% load static %}

{% block title %}
Obras
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body pb-0 pt-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ request.META.HTTP_REFERER }}"><i class="bi bi-chevron-compact-left"></i>{{galeria}}
      Andrés Honorato | Obras</a>
  </div>
</nav>

<img src="{% static 'ejemplos/estudio1.png' %}" class="banner1" alt="...">


<nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <ul class="nav justify-content-center pb-0 mb-0 pt-3 mt-2 mx-auto">
      <li class="ms-3 text-center">
        <a class="navbar-brand text-center" href="#coleccion">
          <i class="bi bi-easel fs-5" id="edit-icon"></i>
          <div>Colecciones</div>
        </a>
      </li>
      <li class="ms-3 text-center">
        <a class="navbar-brand text-center" href="#Tecnicas">
          <i class="bi bi-brush fs-5" id="edit-icon"></i>
          <div>Técnicas</div>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>


<!-- Organizar por técnica
{% for tecnica, cuadros_info in cuadros_por_tecnica.items %}
<div class="container posicionar" id="tecnica-{{ tecnica }}">
  <div class="row">
    <div class="col-md-3">
      <span>Técnica</span>
      <h3>{{ tecnica }}</h3>
      <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea cupiditate dolorem, sunt eligendi animi quia
        explicabo</p>
      <a href="{% url 'home:galerias-view' %}?galeria={{ tecnica }}" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for cuadro_tecnica in cuadros_info|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro_tecnica.imagen1.url }}" alt="Imagen 1" class="img-fluid">
    </div>
    {% endfor %}
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>
{% endfor %}

<!-- Organizar por colección -->
{% for coleccion, cuadros in cuadros_por_coleccion.items %}
<div class="container posicionar" id="coleccion-{{ coleccion }}">
  <div class="row">
    <div class="col-md-3">
      <span>Colección</span>
      <h3>{{ coleccion }}</h3>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dolorum perspiciatis animi corporis repudiandae
        optio id necessitatibus, officia, eligendi aperiam adipisci quod.</p>
      <a href="{% url 'home:galerias-view' %}?galeria={{ coleccion }}" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for cuadro in cuadros|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro.imagen1.url }}" alt="..." class="img-fluid">
    </div>
    {% endfor %}
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>
{% endfor %}


-->








<!-- 


<div class="container posicionar" id="coleccion">
  <div class="row">
    <div class="col-md-3">
      <span>Colección</span>
      <h3>Cosmic Sunset</h3>
      <h3>Vistas</h3>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id nunc id purus commodo vehicula ut eget
        velit.</p>
      <a href="{% url 'home:galerias-view' %}?galeria=Cosmic Sunset Vistas" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for x, cuadros in cuadros_tec_col.items %}
    {% if x == 'Cosmic Sunset Vistas' %}
    {% for cuadro in cuadros|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro.imagen1.url }}" alt="Imagen 1" class="img-fluid">
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>

<br>

<div class="container posicionar">
  <div class="row">
    <div class="col-md-3">
      <span>Colección</span>
      <h3>Dos Soles</h3>
      <h3></h3>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id nunc id purus commodo vehicula ut eget
        velit.</p>
      <a href="{% url 'home:galerias-view' %}?galeria=Dos Soles" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for x, cuadros in cuadros_tec_col.items %}
    {% if x == 'Dos Soles' %}
    {% for cuadro in cuadros|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro.imagen1.url }}" alt="Imagen 1" class="img-fluid">
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <span>Colección</span>
      <h3>Un-verso</h3>
      <br>
      <p>Lorem ipsum dolor sit amet,elit. Nullam id nunc id purus commodo vehicula ut eget velit.</p>
      <a href="{% url 'home:galerias-view' %}?galeria=Un-verso" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for x, cuadros in cuadros_tec_col.items %}
    {% if x == 'Un-verso' %}
    {% for cuadro in cuadros|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro.imagen1.url }}" alt="Imagen 1" class="img-fluid">
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <span>Colección</span>
      <h3>Pensamientos Azules</h3>
      <br>
      <p>Lorem ipsum dolor sit amet,elit. Nullam id nunc id purus commodo vehicula ut eget velit.</p>
      <a href="{% url 'home:galerias-view' %}?galeria=Pensamientos Azules" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for x, cuadros in cuadros_tec_col.items %}
    {% if x == 'Pensamientos Azules' %}
    {% for cuadro in cuadros|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro.imagen1.url }}" alt="Imagen 1" class="img-fluid">
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>

<br>


<div class="container posicionar" id="estilos">
  <div class="row">
    <div class="col-md-3">
      <span>Técnica</span>
      <h3>Collage</h3>
      <h3>Digital</h3>
      <br>
      <p>Lorem ipsum dolor sit amet,elit. Nullam id nunc id purus commodo vehicula ut eget velit.</p>
      <a href="{% url 'home:galerias-view' %}?galeria=Collage Digital" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for x, cuadros in cuadros_tec_col.items %}
    {% if x == 'Collage Digital' %}
    {% for cuadro in cuadros|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro.imagen1.url }}" alt="Imagen 1" class="img-fluid">
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>


<nav class="navbar navbar-expand-lg bg-body py-0">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto">Art for lovers</a>
  </div>
</nav>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <span>Técnica</span>
      <h3>Arte</h3>
      <h3>Vectorial</h3>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id nunc id purus commodo vehicula ut eget
        velit.</p>
      <a href="{% url 'home:galerias-view' %}?galeria=Arte Vectorial" class="btn btn-dark mb-4">Ver Colección</a>
    </div>
    {% for x, cuadros in cuadros_tec_col.items %}
    {% if x == 'Arte Vectorial' %}
    {% for cuadro in cuadros|slice:"-3:" %}
    <div class="col-md-3 mb-3 centro-y">
      <img src="{{ cuadro.imagen1.url }}" alt="Imagen 1" class="img-fluid">
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>


<br> -->





{% endblock content %}



{% block scripts %}

{% endblock scripts %}