<!-- MODAL -->

{% if user.is_authenticated %}
<div class="ui modal mymodalquiero">
    <i class="close icon"></i>
    <div class="content">
        <div class="ui center aligned segment pink padt-5 padb-5">
            <h5>Qué quieres??</h5>
        </div>
        <form action="" method="POST" class="ui tiny form" enctype="multipart/form-data">
            {% csrf_token %}
            {{q_form}}
            <br>
            <br>
            <div class="inline fields">
                <label>Tipo de envío:</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="envio_radio" checked="" value="no_se_necesita" tabindex="0"
                            class="hidden">
                        <label>No se neceita</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="envio_radio" value="queredor_se_encarga" tabindex="0" class="hidden">
                        <label>Yo me encargo</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="envio_radio" value="ofertante_se_encarga" tabindex="0" class="hidden">
                        <label>Él se encarga</label>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="grouped fields">
                        <div class="field">

                            {% comment ver si uso SIN FECHA %}
                            <div class="ui radio checkbox">
                                <input type="radio" name="fecha_radio" value="sin_fecha" tabindex="0" class="hidden">
                                <label><small>Sin&nbspFecha</small></label>
                            </div>
                            {% endcomment %}

                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="fecha_radio" checked="checked" value="fecha_limite"
                                    tabindex="0" class="hidden" id="fecha-limite">
                                <label><small>Fecha&nbspLímite</small></label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="fecha_radio" value="fecha_exacta" tabindex="0"
                                    id="fecha-exacta">
                                <label><small>Fecha&nbspExacta</small></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field fluid">
                    <br>
                    <div class="ui calendar q ml-7" id="fecha-calendario-q" style="width:228px;">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" name="fecha_calendario_q" placeholder="Fecha" autocomplete="off"
                                required="required">
                        </div>
                    </div>
                </div>
            </div>
            <div class="inline fields">
                <label>Urgencia:</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="urgencia_radio" checked="" value="sin_urgencia" tabindex="0"
                            class="hidden">
                        <label>Sin Urgencia</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="urgencia_radio" value="con_urgencia" tabindex="0" class="hidden">
                        <label>Con Urgencia</label>
                    </div>
                </div>
            </div>
            <button type="submit" name="submit_q_form" class="ui inverted blue fluid button">
                Enviar
            </button>
        </form>
    </div>
</div>
{%endif%}


<div class="ui container large screen widescreen computer only grid">
    <div class="ui mini fixed secondary menu inverted blue">
        <div class="ui container">
            <div class="left menu">
                <a href="{% url 'home-view' %}" class="item">
                    <div class="ui huge white inverted header">
                        Caleta
                    </div>
                </a>

                <a href="{% url 'quieros:quieros-view' %}"
                    class="{% if request.resolver_match.url_name == 'quieros-view' %} active {% endif %} item">
                    <div class="header" style="color:white">
                        <h5>Quieros</h5>
                    </div>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'quieros:mis-quieros-view' %}"
                    class="{% if request.resolver_match.url_name == 'mis-quieros-view' %} active {% endif %} item">
                    <div class="header" style="color:white">
                        <h5>Mis Quieros</h5>
                    </div>
                    <div class="floating ui mini horizontal red label">{{profile.get_quieros_num}}</div>
                </a>

                <a href="{% url 'quieros:mis-ofertas-view' %}"
                    class="{% if request.resolver_match.url_name == 'mis-ofertas-view'%} active {% endif %} item">
                    <div class="header" style="color:white">
                        <h5>Mis Ofertas</h5>
                    </div>
                    <div class="floating ui mini horizontal violet label">{{profile.get_ofertas_num}}</div>
                </a>
                {% else %}
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
                {%endif%}
            </div>

            <div class="center menu">
                <div class="item">
                    <a href={% if user.is_authenticated %}"#"{% else %} "{% url 'login' %}" {% endif %}>
                        <label class="ui inverted white large fluid button quieroboton" id='modal-quiero-btn'> <i
                                class="heart icon"></i>Quiero!!
                        </label>
                    </a>
                </div>
            </div>

            <div class="right menu"></div>
            <div class="ui category search item">
                <form action="{% url 'search-view' %}" method="GET">
                    <div class="ui icon input">
                        <input class="prompt" type="text" name='search' placeholder="Buscar....">
                        <i class="search icon link" onclick="$(this).closest('form').submit();"></i>
                    </div>
                </form>
            </div>
            {% comment %}
            <!-- <div class="item">
        <form action="{% url 'search-view2' %}" method="POST">
            {% csrf_token %}
            <div class="ui action right icon input">
                <input class="prompt" type="text" name='search2' placeholder="Buscar2....">
                <button class="ui inverted button" type='submit'>&nbsp;&nbsp;<i class="search link icon"></i>
                </button>
            </div>
        </form>
    </div> -->
            {% endcomment %}


            {% if user.is_authenticated %}
            <div class="ui dropdown item">
                <h5 class="ui item">{{ request.user }}
                    <i class="dropdown icon"></i>
                </h5>
                <div class="menu basic">
                    <a class="item" href="{% url 'quieros:mis-quieros-view' %}">
                        <div class="header">
                            <h5 class="ui green header">Mis Quieros</h5>
                        </div>
                        <div class="floating ui red horizontal label">{{profile.get_quieros_num}}</div>
                    </a>
                    <a class="item" href="{% url 'quieros:mis-ofertas-view' %}">
                        <div class="header">
                            <h5 class="ui orange header">Mis Ofertas</h5>
                        </div>
                        <div class="floating ui horizontal violet label">{{profile.get_ofertas_num}}</div>
                    </a>
                    <a class="item" href="{% url 'profiles:my-profile-view' %}">
                        <h5 class="ui violet header">Perfil</h5>
                    </a>

                    <a class="item" href="{% url 'logout' %}">
                        <h5 class="ui blue header">Logout</h5>
                    </a>
                </div>
            </div>


            <a href="{% url 'profiles:my-profile-view' %}" class="ui item">
                <img class="ui middle aligned mini rounded image" src={{request.user.profile.avatar.url}} alt=""></a>

            {% else %}
            <a href="{% url 'profiles:sign-up' %}" class="ui item">
                <div class="header" style="color:white">
                    <h5>Registrarse</h5>
                </div>
            </a>

            <a href="{% url 'login' %}?next={{request.path}}" class="ui item">
                <div class="header" style="color:white">
                    <h5>Iniciar sesión</h5>
                </div>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
</div>




<div class="ui container mobile tablet only grid">
    <div class="ui mini fixed secondary menu inverted blue">
        <a class="item" href="{% url 'home-view' %}">
            <h5 class="ui large white inverted header">Caleta</h5>
        </a>
        <div class="ui dropdown primary icon button">
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="#">
                    <div class="header">
                        <h5 class="ui red header">Buscar</h5>
                    </div>
                </a>
                <a class="item" href="{% url 'quieros:quieros-view' %}">
                    <div class="header">
                        <h5 class="ui pink header">Quieros</h5>
                    </div>
                </a>

                {% if user.is_authenticated %}
                <a class="item" href="{% url 'quieros:mis-quieros-view' %}">
                    <div class="header">
                        <h5 class="ui green header">Mis Quieros</h5>
                    </div>
                    <div class="floating ui mini horizontal red label">{{profile.get_quieros_num}}</div>
                </a>
                <a class="item" href="{% url 'quieros:mis-ofertas-view' %}">
                    <div class="header">
                        <h5 class="ui orange header">Mis Ofertas</h5>
                    </div>
                    <div class="floating ui mini horizontal violet label">{{profile.get_ofertas_num}}</div>
                </a>
                <a class="item" href="{% url 'profiles:my-profile-view' %}">
                    <h5 class="ui violet header">Perfil</h5>
                </a>
                <a class="item" href="{% url 'logout' %}">
                    <h5 class="ui blue header">Logout</h5>
                </a>
                {% else %}
                <a href="{% url 'profiles:sign-up' %}" class="ui item">
                    <div class="header">
                        <h5>Registrarse</h5>
                    </div>
                </a>
                <a href="{% url 'login' %}?next={{request.path}}" class="ui item">
                    <div class="header">
                        <h5>Iniciar sesión</h5>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>


        <div class="right menu">
            <div class="item">
                <a href={% if user.is_authenticated %}"#"{% else %} "{% url 'login' %}" {% endif %}>
                    <label class="ui inverted button quieroboton" id='modal-quiero-btn'> <i
                            class="heart icon"></i>Quiero!!
                    </label>
                </a>
            </div>
        </div>
    </div>
</div>
</div>








{% if quiero_added %}
<div class="ui green message" style="border-radius: 0px !important" ;>Quiero creado!!</div>
{% elif oferta_added %}
<div class="ui green message" style="border-radius: 0px !important" ;>Oferta enviada!!</div>
{% endif %}
<br>


{% block scripts %}
{% endblock scripts %}