html body {
    background-color: #efefef;
}

/* body {
    font-family: 'Poetsen One', serif;
} */

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1rem;
        /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}

/* .carousel-item, .banner1, .banner1-new tienen el mismo estilo, se pueden combinar */
.carousel-item img,
.banner1,
.banner1-new {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* Escala la imagen para que llene el espacio sin distorsión */
}

.centro-y {
    display: flex;
    align-items: center;
}

.img-container img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

#edit-icon {
    color: white;
    text-decoration: none;
    /* Color predeterminado de Instagram */
}

/* Cambiar el color de los iconos al hacer hover */
#edit-icon:hover {
    color: #e66712;
    /* Cambiar el color al hacer hover (en este caso, color de Instagram) */
}

.posicionar,
.posicionar2 {
    padding: 20px;
    /* Espaciado interior para mayor claridad */
    scroll-margin-top: 50px;
    /* Altura de la barra de navegación */
}

/* separador */
.spacer-new {
    min-width: 100px;
    /* Ajusta esto según el espacio que necesites */
    min-height: 30px;
    /* Ajusta esto según el espacio que necesites */
    display: inline-block;
    /* Asegura que el elemento se comporte como un elemento en línea */
}

.rounded-image {
    /* border-radius: 10px; */
    /* Ajusta el valor según el grado de redondez deseado */
    border: 2px solid black;
    /* Añade un borde negro de 2 píxeles de grosor */
}

.hidden {
    display: none;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(120, 111, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader img {
    width: 150px;
    height: 150px;
}

.progress {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

.progress-bar {
    background-color: black;
}


/* Estilo para ajustar la altura de las imágenes del carrusel sobre mi */
/* #sobremiCarrusel .carousel-item img {
    height: 300px !important;
    Ajusta esta altura según lo necesites
    object-fit: cover;
} */


/* .cuadro-info {
    position: sticky;
    top: 65px;
    Ajusta este valor según tu diseño
    height: fit-content;
    Ajusta el alto según tu diseño
    overflow-y: auto;
    Añade una barra de desplazamiento vertical si es necesario
} */

.boton-contacto {
    border-top-left-radius: 0;
    /* Elimina el radio de la esquina superior izquierda */
    border-top-right-radius: 0;
    /* Elimina el radio de la esquina superior derecha */
}


.sold-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50%;
    /* Ancho relativo al contenedor */
    height: 50%;
    /* Altura relativa al contenedor */
    max-width: 200px;
    /* Ancho máximo */
    max-height: 200px;
    /* Altura máxima */
    background-image: url("/static/ejemplos/vendido.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 1;
}


.ver-mas-imagenes:hover {
    color: #646464 !important;
}