html body {
    background-color: #efefef;
}

.carousel-item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* Escala la imagen para que llene el espacio sin distorsión */
}

.banner1 {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* Escala la imagen para que llene el espacio sin distorsión */
}

.centro-y {
    display: flex;
    align-items: center;
}