html body {
    background-color: #efefef;
}

.carousel-item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* Escala la imagen para que llene el espacio sin distorsión */
}

.banner1 {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* Escala la imagen para que llene el espacio sin distorsión */
}

.centro-y {
    display: flex;
    align-items: center;
}

.img-container img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;

}

/* .navbar-brand i {
    color: white;}


.navbar-brand:hover i {
    color: #ffcc00;} */


#edit-icon {
    color: white;
    /* Color predeterminado de Instagram */
}

/* Cambiar el color de los iconos al hacer hover */
#edit-icon:hover {
    color: #e4405f;
    /* Cambiar el color al hacer hover (en este caso, color de Instagram) */
}


/* Estilo de las secciones */
.posicionar {
    padding: 20px;
    /* Espaciado interior para mayor claridad */
}

/* Aplicar scroll-margin-top a las secciones personalizadas */
.posicionar {
    scroll-margin-top: 50px;
    /* Altura de la barra de navegación */
}