<nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="brand1" href="{% url 'home:home-view' %}"
      data-url-name="{{ request.resolver_match.url_name }}"
      data-coleccion="{% if request.resolver_match.url_name == 'coleccion-view' %}{{ coleccion }}{% endif %}"
      data-cuadro="{% if request.resolver_match.url_name == 'cuadro-view' %}{{ cuadro.nombre }}{% endif %}">
      Andrés Honorato
    </a>


    <!-- {% if request.resolver_match.url_name == 'home-view' %}Andrés Honorato {% endif %}
    {% if request.resolver_match.url_name == 'coleccion-view' %}AH | {{coleccion}} {% endif %}
    {% if request.resolver_match.url_name == 'obras-view' %}AH | Obras {% endif %}
    {% if request.resolver_match.url_name == 'contacto-view' %}AH | CONTACTO {% endif %}
    {% if request.resolver_match.url_name == 'sobre_mi-view' %}AH | SOBRE MÍ {% endif %}
    {% if request.resolver_match.url_name == 'cuadro-view' %}AH | {{cuadro.nombre}} {% endif %} -->




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'obras-view' %} active {% endif %}"
            href="{% url 'home:obras-view' %}">OBRAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'sobre_mi-view' %} active {% endif %}"
            href="{% url 'home:sobre_mi-view' %}">SOBRE MÍ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'contacto-view' %} active {% endif %}"
            href="{% url 'home:contacto-view' %}">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const brandElement = document.getElementById('brand1');
    const urlName = brandElement.getAttribute('data-url-name');
    const coleccion = brandElement.getAttribute('data-coleccion');
    const cuadro = brandElement.getAttribute('data-cuadro');

    const getTitle = () => {
      switch (urlName) {
        case 'home-view':
          return 'AH | Obras';
        case 'coleccion-view':
          return `AH | ${coleccion}`;
        case 'obras-view':
          return 'AH | Obras';
        case 'contacto-view':
          return 'AH | Contacto';
        case 'sobre_mi-view':
          return 'AH | Sobre mí';
        case 'cuadro-view':
          return `AH | ${cuadro}`;
        default:
          return 'Andrés Honorato';
      }
    };

    const newText = getTitle();

    window.addEventListener('scroll', function () {
      if (window.scrollY > 25) {
        brandElement.innerHTML = newText;
      } else {
        brandElement.innerHTML = 'Andrés Honorato';
      }
    });
  });
</script>
{% endblock scripts %}