.carru {
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.slider-containerSW {
  max-width: 1500px;
  width: 100%;
  padding: 20px 0;
}

.slider-content {
  margin: 0 40px;
  overflow: hidden;
  /* border-radius: 25px; */
}

.slider-content2 {
  margin: 0 40px;
  overflow: hidden;
  /* border-radius: 25px; */
}

.cardSW {
  /* border-radius: 25px; */
  /* background-color: #fff; */
  background-color: #efefef;
}

.image-content,
.cardSW-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

/* .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px;
  top: 0;
  left: 0;
} */



.cardSW-image {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #ffffff00;
  /* border-radius: 50%; */
  padding: 3px;
  transition: transform 0.3s ease;
  /* Agrega una transición suave */
}

.cardSW-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.cardSW:hover {
  transform: scale(1.05);
  /* Aplica el zoom al hacer hover */
}


.nameSW {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
  /* Evita el salto de línea */
  overflow: hidden;
  /* Oculta el exceso de texto */
  text-overflow: ellipsis;
  /* Muestra tres puntos suspensivos */
  max-width: 100%;
  /* Evita que el texto salga del contenedor */
}

.descriptionSW {
  font-size: 12px;
  font-weight: 400;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  background-color: #252629;
  border-radius: 6px;
  cursor: pointer;
  margin: 14px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #0d0d0e;
}

.swiper-navBtn {
  color: #252629;
  transition: all 0.3s ease;
}

.swiper-navBtn:hover {
  color: #0d0d0e;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #252629;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #202122;
}

@media (max-width: 768px) {
  .slider-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}





/* Nuevo slider 3  */

.slider-content3 {
  margin: 0 40px;
  overflow: hidden;
  /* border-radius: 25px; */
}

.slider-content-new {
  width: 100%;
}

.slider-container-new {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  /* Asegura que nada se salga del contenedor */
}


.cardSW-image-obras {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: #ffffff00;
  /* border-radius: 50%; */
  padding: 3px;
  transition: transform 0.3s ease;
  /* Agrega una transición suave */
}

.cardSW-image-obras img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}


.cardSW-image-cuadros {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #ffffff00;
  /* border-radius: 50%; */
  padding: 3px;
  transition: transform 0.3s ease;
  /* Agrega una transición suave */
}

.cardSW-image-cuadros img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}


.swiper-navBtn-new {
  color: #d6d9df;
  transition: all 0.3s ease;
}

.swiper-navBtn-new:hover {
  color: #4e4e4e;
}

.swiper-navBtn-new::before,
.swiper-navBtn-new::after {
  font-size: 35px;
}